name: Docker build

'on':
    schedule:
      - cron: '30 5 * * 1'  # Every Monday at 5:30
    pull_request:
    push:
        branches:
          - main
          - develop
          - feature/**

jobs:
  test-debug-paste-service:
    uses: ./.github/workflows/build-service.yml
    with:
      service-name: paste-service
      build-type: debug
      run-tests: true
      run-in-docker: true

  build-release-paste-service:
    uses: ./.github/workflows/build-service.yml
    with:
      service-name: paste-service
      build-type: release
      run-tests: false
      run-in-docker: true
      upload-artifact: paste_service

  test-e2e:
    runs-on: ubuntu-latest
    needs: build-release-paste-service

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Download release binary
        uses: actions/download-artifact@v4
        with:
          name: paste-service-binary
          path: paste-service/build-release/
          if-no-files-found: error

      - name: Fix permissions
        run: chmod +x paste-service/build-release/paste_service

      - name: Install E2E dependencies
        run: make e2e-install

      - name: Start services
        run: HOST_UID=$(id -u) HOST_GID=$(id -g) docker compose up -d --wait

      - name: Logs (debugging)
        run: |
          docker compose logs paste-service
          docker compose logs nginx
      
      - name: Run E2E
        run: cd tests && venv/bin/pytest e2e/ -v