name: Docker build

'on':
    schedule:
      - cron: '30 5 * * 1'  # Every Monday at 5:30
    pull_request:
    push:
        branches:
          - main
          - develop
          - feature/**

jobs:
  test-paste-service:
    uses: ./.github/workflows/build-test-service.yml
    with:
      service-path: paste-service
      build-type: debug
      run-tests: true
      run-in-docker: true

  test-e2e:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Cache Docker layers
        uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ inputs.service-path }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-${{ inputs.service-path }}-

      - name: Cache ccache directory
        uses: actions/cache@v4
        with:
          path: ${{ inputs.service-path }}/.ccache
          key: ccache-${{ inputs.service-path }}-${{ inputs.build-type }}-${{ github.ref }}-${{ github.run_number }}
          restore-keys: |
            ccache-${{ inputs.service-path }}-${{ inputs.build-type }}-${{ github.ref }}-
            ccache-${{ inputs.service-path }}-${{ inputs.build-type }}-

      - name: Install E2E dependencies
        run: make e2e-install

      - name: Run E2E tests
        run: make e2e
        