name: Docker build

'on':
    schedule:
      - cron: '30 5 * * 1'  # Every Monday at 5:30
    pull_request:
    push:
        branches:
          - main
          - develop
          - feature/**

jobs:
  test-debug-read-service:
    uses: ./.github/workflows/build-service.yml
    with:
      service-name: paste-service
      build-type: debug
      run-tests: true
      run-in-docker: true
  test-debug-write-service:
    uses: ./.github/workflows/build-service.yml
    with:
      service-name: paste-service
      build-type: debug
      run-tests: true
      run-in-docker: true

  build-release-read-service:
    uses: ./.github/workflows/build-service.yml
    with:
      service-name: read-service
      build-type: release
      run-tests: false
      run-in-docker: true
      upload-artifact: read_service
  build-release-write-service:
    uses: ./.github/workflows/build-service.yml
    with:
      service-name: write-service
      build-type: release
      run-tests: false
      run-in-docker: true
      upload-artifact: write_service

  test-e2e:
    runs-on: ubuntu-latest
    needs: [build-release-read-service, build-release-write-service]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Download read-service release binary
        uses: actions/download-artifact@v4
        with:
          name: read-service-binary
          path: services/read-service/build-release/

      - name: Fix permissions
        run: chmod +x services/read-service/build-release/read_service

      - name: Download write-service release binary
        uses: actions/download-artifact@v4
        with:
          name: write-service-binary
          path: services/write-service/build-release/

      - name: Fix permissions
        run: chmod +x services/write-service/build-release/write_service

      - name: Install E2E dependencies
        run: make e2e-install

      - name: Start services
        run: HOST_UID=$(id -u) HOST_GID=$(id -g) docker compose up --build -d --wait

      - name: Log (debugging)
        run: |
          docker compose logs nginx
          docker compose logs pg-migrate
      
      - name: Run E2E
        run: cd tests && venv/bin/pytest e2e/ -v